= form_for @server do |f|
  - if @server.errors.any?
    #error_explanation
      %h2= "#{pluralize(@server.errors.count, "error")} prohibited this server from being saved:"
      %ul
        - @server.errors.full_messages.each do |msg|
          %li= msg
  .row
    = button_tag(type: 'submit', class: "button success small") do
      %i.fi-check.large
      Save
  .row
    .field
      .large-3.columns
        %h4
          %blockquote
            Name
        = f.text_field :name
    .field
      .large-3.columns
        %h4
          %blockquote
            Address
        = f.text_field :address
    .field
      .large-2.columns
        %h4
          %blockquote
            Port
        = f.number_field :port
    .field
      .large-2.columns
        %h4
          %blockquote
            Visibility
        = f.select :visibility, %w(PUBLIC PRIVATE STAFF_ONLY)
    .field
      .large-2.columns
        %h4
          %blockquote
            Cluster
        = f.select :cluster, @clusters
  .row
    %h2 Internal Information
  .row
    .field
      .large-3.columns
        %h4
          %blockquote
            Name
        = f.text_field :internal_name
    .field
      .large-3.columns
        %h4
          %blockquote
            Address
        = f.text_field :internal_address
    .field
      .large-2.columns
        %h4
          %blockquote
            Port
        = f.number_field :internal_port
    .field
      .large-3.columns
        %h4
          %blockquote
            Max Players
        = f.number_field :max_players
