%h1 Listing servers

%table
  %tr
    %th Name
    %th Ip
    %th Port
    %th Publicip
    %th Publicport
    %th Cluster
    %th Maxplayers
    %th Onlineplayers
    %th Online
    %th
    %th
    %th

  - @servers.each do |server|
    %tr
      %td= server.name
      %td= server.ip
      %td= server.port
      %td= server.publicIp
      %td= server.publicPort
      %td= server.cluster
      %td= server.maxPlayers
      %td= server.onlinePlayers
      %td= server.online
      %td= link_to 'Show', server
      %td= link_to 'Edit', edit_server_path(server)
      %td= link_to 'Destroy', server, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Server', new_server_path
