- content_for :title, "Admin - Punishments - Edit"
.row
  .large-6.columns.large-centered
    %h3
      %i.fi-pencil
        Edit "#{@punishments.name}"
  .large-6.columns.end.large-centered
    %ul.button-group
      %li= link_to  '<i class="fi-eye large"></i> Show'.html_safe, @punishment, :class => "button small"
      %li= link_to  '<i class="fi-trash large"></i> Delete'.html_safe, @punishment, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => "button alert small"
      %li= link_to  '<i class="fi-home large"></i> Panel Home'.html_safe, root_path, :class => "button small"

= render 'form'
