- content_for :title, "Admin - Punishments - Index"
.row
  .large-5.columns.large-centered
    %h3
      %i.fi-list
        Listing Punishments
  .large-5.columns.end.large-centered
    %ul.button-group
      %li= link_to '<i class="fi-plus large"></i> New Punishment'.html_safe, new_punishment_path, :class => "button small"
      %li= link_to  '<i class="fi-home large"></i> Panel Home'.html_safe, root_path, :class => "button small"
.row
  %blockquote
    ok

.row
  .large-11.columns.large-centered
    %table
      %thead
        %tr
          %th Punisher
          %th Punished
          %th Reason
          %th Server
          %th Type
          %th Cluster
          %th Active
          %th Appealable
          %th Automatic
          %th When
          %th Expires
          %th
          %th
          %th

        - @punishments.each do |punishment|
          %tr
            %td= punishment.punisher
            %td= punishment.punished
            %td= punishment.reason
            %td= punishment.server
            %td= punishment.type
            %td= punishment.cluster
            %td= punishment.active
            %td= punishment.appealable
            %td= punishment.automatic
            %td= punishment.when
            %td= punishment.expires
            %td= link_to 'Show', punishment
            %td= link_to 'Edit', edit_punishment_path(punishment)
            %td= link_to 'Destroy', punishment, :method => :delete, :data => { :confirm => 'Are you sure?' }
