!!!
%html
  %head
    %title
      - if content_for? :title
        Altitude MapDev &raquo; #{yield :title}
      - else
        Altitude MapDev &raquo; The best MapDev server
    %title Altitude &raquo; Mapdev
    = favicon_link_tag image_path('favicon.ico'), :rel => 'shortcut icon'
    = stylesheet_link_tag   "//cdnjs.cloudflare.com/ajax/libs/font-awesome/3.2.1/css/font-awesome.min.css"
    = stylesheet_link_tag   "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .container
      = yield

.container
  %hr
  %footer
    %ul.nav.nav-pills
      %li.pull-left
        %a &copy; 2014 Altitude Network
