!!!
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}
    %title
      - if content_for? :title
        Altitude MapDev &raquo; #{yield :title}
      - else
        Altitude MapDev &raquo; The best MapDev server
    = favicon_link_tag image_path('favicon.ico'), :rel => 'shortcut icon'
    = stylesheet_link_tag    "application"
    = javascript_include_tag "vendor/modernizr"
    = csrf_meta_tags
    %body
      %br
      = yield
    = javascript_include_tag "application"

.row
  %hr
  %dl.sub-nav
    %dt &copy; 2014 Altitude Network
