- content_for :title, "Admin - Groups - New"
.row
  .large-4.columns.large-centered
    %h3
      %i.fi-plus
        Create Group
  .large-4.columns.end.large-centered
    %ul.button-group
      %li= link_to  '<i class="fi-home large"></i> Panel Home'.html_safe, root_path, :class => "button small"

= form_for @group do |f|
  - if @group.errors.any?
    #error_explanation
      %h2= "#{pluralize(@group.errors.count, "error")} prohibited this group from being saved:"
      %ul
        - @group.errors.full_messages.each do |msg|
          %li= msg

  .row
    = button_tag(type: 'submit', class: "button success small") do
      %i.fi-check.large
      Save
  .row
    .large-5.columns
      = f.check_box :give_to_new
      %label{:for => "group_give_to_new"} Default group (Give to all new/exisiting players).
    .large-5.columns
      = f.check_box :is_staff
      %label{:for => "group_is_staff"} If the group is a staff-specific group.

  .row
    .field
      .large-3.columns
        %h4
          %blockquote
            Name
        = f.text_field :name
    .field
      .large-2.columns
        %h4
          %blockquote
            Priority
        = f.text_field :priority
    .field
      .large-2.columns
        %h4
          %blockquote
            Cluster
          = f.select :cluster, @clusters
    .field
      .large-2.columns
        %h4
          %blockquote
            Flair
        = f.text_field :flair
    .field
      .large-3.columns
        %h4
          %blockquote
            Flair Color
        = f.text_field :flair_color
