%p#notice= notice

%p
  %b Name:
  = @group.name
%p
  %b Cluster:
  = @group.cluster
%p
  %b Priority:
  = @group.priority
%p
  %b Members:
  = @group.members
%p
  %b Minecraft permissions:
  = @group.minecraft_permissions
%p
  %b Website permissions:
  = @group.website_permissions
%p
  %b Active:
  = @group.active
%p
  %b Staff:
  = @group.staff
%p
  %b Html color:
  = @group.html_color

= link_to 'Edit', edit_group_path(@group)
\|
= link_to 'Back', groups_path
