- content_for :title, "Admin - Clusters - Editing #{@cluster.name}"
= form_for @cluster do |f|
  .row
    .large-6.columns.large-centered
      %h3
        %i.fi-pencil
          Edit "#{@cluster.name}"
    .large-6.columns.end.large-centered
      %ul.button-group
        %li
          = button_tag(type: 'submit', class: "button success small") do
            %i.fi-check.large
            Save
        %li= link_to  '<i class="fi-eye large"></i> Show'.html_safe, @cluster, :class => "button small"
        %li= link_to  '<i class="fi-trash large"></i> Delete'.html_safe, @cluster, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => "button alert small"
        %li= link_to  '<i class="fi-home large"></i> Panel Home'.html_safe, root_path, :class => "button small"
  - if @cluster.errors.any?
    .row
      %blockquote
        %h2= "#{pluralize(@cluster.errors.count, "error")}:"
        - @cluster.errors.full_messages.each do |msg|
          = msg
  .row
    .field
      .large-5.columns
        %h4
          %blockquote
            Name
            %h6.subheading The name of the cluster.
        = f.text_field :name
