- content_for :title, "Admin - Clusters - Index"
.row
  .large-5.columns.large-centered
    %h3
      %i.fi-list
        Listing Clusters
  .large-5.columns.end.large-centered
    %ul.button-group
      %li= link_to '<i class="fi-plus large"></i> New Cluster'.html_safe, new_cluster_path, :class => "button small"
      %li= link_to  '<i class="fi-home large"></i> Panel Home'.html_safe, root_path, :class => "button small"

.row
  .large-11.columns.large-centered
    %table
      %thead
        %tr
          %th{width: "500px"} Name
          %th{width: "200px"} Visibility
          %th
          %th

        - @clusters.each do |cluster|
          %tr
            %td= cluster.name
            %td= cluster.visibility
            %td= link_to 'Edit', cluster
            %td= link_to 'Destroy', cluster, :method => :delete, :data => { :confirm => 'Are you sure?' }
